@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 96%;
    --foreground: 0, 0%, 53%;
    --primary: 248.37, 71.27%, 64.51%;
    --primary-foreground: 0, 0%, 100%;
    --secondary: 173, 100%, 44%;
    --secondary-foreground: 0, 0%, 5%;
    --card: 0 0% 100%;
    --destructive: 15, 68%, 52%;
    --sos: 15, 64%, 50%;
    --border: 60, 4.17%, 90.59%;
    --input: 60, 4.17%, 90.59%;
    --ring: 0 0% 63%;
    --radius: 0.625rem;
  }
  .dark:root {
    --background: 206, 11%, 12%;
    --sos: 15, 64%, 50%;
  }
}
